<div class="landing-container" style="background: #100E23;">
    <div id="header" class=" landing-header flex flex-column w-full p-6"
         style="min-height: 500px;background: url('assets/demo/images/landing/landing-header-2x.jpg') top left no-repeat;background-size: cover;">

        <div class="header-text" style="padding: 100px 60px;">
            <h1 class="mb-0 text-gray-800" style="font-size: 80px; line-height: 95px;">This is Atlantis</h1>
            <h2 class="mt-0 font-medium text-4xl text-gray-700">Modern, fresh and groovy</h2>
        </div>

    </div>
    <app-image-collection #newestContentSection [images]="newestContent()" />
</div>
