<div class="landing-container" style="background: #100E23;">
    <div id="header" class="hidden landing-header md:flex lg:flex w-full p-1 ">
        <div class="header-text" style="padding: 100px 60px;">
            <h1 class="mb-0 text-gray-800" style="font-size: 80px; line-height: 95px;">Homepage</h1>
            <h2 class="mt-0 font-medium text-4xl text-gray-700">homepage sub title</h2>
        </div>

    </div>
    <h2 class="mt-0 font-medium text-4xl text-gray-700">Latest</h2>
    <app-image-collection #newestContentSection [images]="newestContent()" [showCreator]="true" />
</div>
