<div class="px-4 mt-2" xmlns="http://www.w3.org/1999/html">

    <form [formGroup]="contentForm">
        <div class="form-group">
            <label for="titlePost">Title</label>
            <input formControlName="contentName" class="form-control" id="titlePost" placeholder="Title">
        </div>
        <div class="row" >
            <img id="content-frame" class="text-center" src="assets/img/upload_placeholder.png" width="150em" height="150em"/>
        </div>
        <div class="vstack">

                <p>Upload:</p>
                <label class="btn btn-secondary" for="upload-field">
                    upload
                </label>
                <input type="file" (change)="handleFile($event.target)" id="upload-field" hidden/>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="contentDescription" class="form-control" id="description" placeholder="Description" rows="4"></textarea>
        </div>
        <div class="hstack">
        <div>
            <input type="checkbox" class="form-check-input" id="matureCheck">
            <label class="form-check-label" for="matureCheck">Mature</label>
        </div>
        <div class="ms-auto">
        <button id="submit-button" type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
        </div>
        </div>
        </div>
    </form>
</div>