<div class="gallery-chip-body bg-body-secondary pt-3">
        <div class = "d-flex justify-content-center"><a routerLink="{{goToContent()}}"><img class="gallery-chip-image " src="{{getThumbnailLink()}}" width="250" height="250"></a></div>
        <div class="d-flex justify-content-center mt-2"><a class="text-reset text-decoration-none h6" routerLink="{{goToContent()}}">{{title}}</a></div>
        <div class="d-flex justify-content-center mt-0"><a class="text-reset text-decoration-none " routerLink="{{goToUserGallery()}}">{{creator}}</a></div>
</div>
