.gallery-chip-image {
    border-radius: 5%;
}

.gallery-chip-body {
    border-radius: 5%;
    height: 325px;
    width: 325px;
}

.title-text{
    text-decoration: none;
    font-size: 1.5em;
}


.author-text{
    text-decoration: none;
    font-size: 1em;
}