#Create a .env file using this as a base
DATABASE_TYPE=SQLite
DATABASE_URL="../../test.db"
DATABASE_USERNAME=
DATABASE_PASSWORD=
KEYCLOAK_JWKS_URI="https://localhost:8443/realms/throwback-art/protocol/openid-connect/certs"
KEYCLOAK_CLIENT-ID="throwback-spa"
S3_URL="http://localhost:9000"
S3_BUCKET="main"
S3_SECRET=
S3_ACCESS=
JWT_TESTING_TOKEN=
KEYCLOAK_API_CLIENT_ID="throwback-api"
KEYCLOAK_API_CLIENT_SECRET=
KEYCLOAK_REALM="throwback-art"
KEYCLOAK_HOST="https://localhost:8443"
OPENSEARCH_USERNAME="admin"
OPENSEARCH_PASSWORD=
OPENSEARCH_HOST="localhost"
OPENSEARCH_PORT=9200