<div class="shadow-2 surface-card border-round">
        <div id="thumbnail" class="relative mb-0 md:mb-3 lg:mb-3 xlg:mb-3 ">
            <a [routerLink]="goToContent()">
                <img [src]="getThumbnailLink()" class="w-full" /></a>
        </div>
        <span class="hidden lg:inline xl:inline md:inline">
        <div id="contentTitle" class="flex justify-content-center align-items-center mb-3">
            <a [routerLink]="goToContent()">
                <span class="text-900 font-medium text-xl">
                {{title}}</span></a>
        </div>
        <a class="flex justify-content-center align-items-center" *ngIf="showCreator" id="creatorLink" [routerLink]="goToUserGallery()">
        <p class="mt-0 mb-3 text-700 line-height-3">
            {{creator}}
        </p></a>
        <div id="meta-section" class="flex justify-content-center align-items-center mb-3">
            <p-tag [style]="{background:'transparent',color:'green'}" class="p-out" icon="pi pi-eye" value="{{views}}"  />
            <p-tag [style]="{background:'transparent',color:'crimson'}" icon="pi pi-heart" value="{{likes}}"/>
        </div>
        </span>
    </div>
