<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>

        <div class="layout-topbar-menu-section xlg:hidden lg:hidden ">
                <p>NOBOT.ART</p>
        </div>

    </div>
    <div class="layout-topbar-menu-section">
        <app-sidebar></app-sidebar>
    </div>
    <div class="topbar-end">
        <ul class="topbar-menu  ">


            <li #profile class="profile-item topbar-item " >
                <a *ngIf="authService.isLoggedIn()" pStyleClass="@next" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple class="cursor-pointer">
                    <app-avatar [username]="this.userService.username()" [imgClass]="'border-circle'" [disableLink]="true"/>
                </a>

                <ul  class="topbar-menu active-topbar-menu p-4 w-15rem z-5 ng-hidden border-round">
                    <li *ngIf="authService.isLoggedIn()" role="menuitem" class="m-0 mb-3">
                        <a routerLink="/settings" class="flex align-items-center hover:text-primary-500 transition-duration-200" pStyleClass="@grandparent" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-cog mr-2"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li *ngIf="authService.isLoggedIn()" role="menuitem" class="m-0">
                        <a routerLink="/logout" class="flex align-items-center hover:text-primary-500 transition-duration-200" pStyleClass="@grandparent" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-sign-out mr-2"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                    <li *ngIf="!authService.isLoggedIn()" role="menuitem" class="m-0">
                        <a routerLink="/login" class="flex align-items-center hover:text-primary-500 transition-duration-200" pStyleClass="@grandparent" enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                            <i class="pi pi-fw pi-sign-out mr-2"></i>
                            <span>Login</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
