#body-id {
    display:flex;
}

#left-menu{
}

#main-section {

    border-width: 50px;
    height: 100%;
    width:100%;
}

.full-vert{
    height: 100%;
    margin-top: 0px;
}

body{
    height: 100%;
}


