/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Modeseven-L3n5";
    src: url(assets/fonts/Modeseven-L3n5.ttf) format("truetype");
    size-adjust: 140%;
}

body {
    height:100%;
    font: normal 10px Modeseven-L3n5, Verdana, Arial, sans-serif;
}

html {
    height:100%;
}